---
import { getInternalLinkDetails } from "../utils/sanity";

const { data, inverse } = Astro.props;

let href;
let internalLinkDetails;

switch (data.link.type) {
  case "email":
    href = `mailto:${data.link.email}`;
    break;
  case "phone":
    href = `tel:${data.link.phone}`;
    break;
  case "external":
    href = data.link.url;
    break;
  case "internal":
    internalLinkDetails = await getInternalLinkDetails(
      data.link.internalLink._ref
    );
    href = internalLinkDetails ? `/${internalLinkDetails.slug}` : "#";
    break;
  default:
    href = "#"; // Default value if none of the types match
}

let linkStyle;

switch (data.linkStyle) {
  case "primary":
    linkStyle = "btn btn--primary";
    break;
  case "outline":
    linkStyle = "btn btn--outline";
    break;
  case "link":
    linkStyle = "link";
    break;
  default:
    linkStyle = "";
    break;
}
---

<a
  class=`${linkStyle}${inverse ? "-inverse" : ""}`
  target={data.link.blank ? "_blank" : ""}
  href={href}
  >{data.link.text}
</a>
