---
import CallToAction from "../blocks/CallToAction.astro";
import Cards from "../blocks/Cards.astro";
import TextAndImage from "../blocks/TextAndImage.astro";
import TextAndMap from "../blocks/TextAndMap.astro";
import Quote from "../blocks/Quote.astro";
import ImageGallery from "../blocks/ImageGallery.astro";

const { blocks } = Astro.props;
---

<div>
  {
    blocks.map((block: any, index: number) => {
      switch (block._type) {
        case "textAndImage":
          block = <TextAndImage block={block} />;
          break;
        case "textAndMap":
          block = <TextAndMap block={block} />;
          break;
        case "callToAction":
          block = <CallToAction block={block} />;
          break;
        case "cards":
          block = <Cards block={block} />;
          break;
        case "quote":
          block = <Quote block={block} />;
          break;
        case "imageGallery":
          block = <ImageGallery block={block} />;
          break;
        default:
          block = null;
      }
      return block ? (
        <section class={`section section--default `}>
          <div class="container">{block}</div>
        </section>
      ) : null;
    })
  }
</div>
