---
import { Image } from "astro:assets";
import { srcSet, urlFor } from "../utils/image";
import { PortableText } from "astro-portabletext";
import { getPageContent } from "../utils/sanity";
const { block } = Astro.props;
const services = await getPageContent("service");
---

<div class="spacing-y-lg">
  <div class="spacing-y-xs max-w-blockHeader">
    <div class="block-heading">
      <span>{block.tagline}</span>
      <h2>{block.title}</h2>
    </div>
    <PortableText value={block.richText} />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-6 gap-4">
    {
      !block.showServices &&
        block.cards.map((card: any) => {
          const imageUrl = urlFor(card.icon).url();

          return (
            <>
              <div class="flex flex-col gap-4 bg-white p-12 border-primary border-4">
                <Image
                  sizes="150px"
                  srcset={imageUrl ? srcSet(imageUrl) : ""}
                  width={1000}
                  height={1000}
                  src={imageUrl}
                  alt={card.title}
                  class="w-24"
                />
                <h3 class="text-3xl ">{card.title}</h3>
                <p class="text-lg">{card.description}</p>
              </div>
            </>
          );
        })
    }
    {
      block.showServices &&
        services.map((card: any) => {
          const imageUrl = card.pageHeader.image
            ? urlFor(card.pageHeader.image).url()
            : null;

          return (
            <>
              <div class="@container hover:scale-[1.002] transition hover:shadow-lg relative rounded-2xl border-primary-600/50 border overflow-hidden">
                <div class="flex flex-col @lg:flex-row  h-full">
                  {imageUrl && (
                    <Image
                      srcset={imageUrl ? srcSet(imageUrl) : ""}
                      width={1000}
                      height={1000}
                      src={imageUrl}
                      alt="test"
                      class="w-full aspect-video object-cover @lg:w-2/5"
                    />
                  )}
                  <div class="p-6 bg-white sm:p-8 flex flex-col gap-2 lg:gap-4 @lg:w-fit h-full">
                    <h3 class="text-2xl  lg:text-3xl ">{card.overviewTitle}</h3>
                    <p class="text-lg">{card.overviewDescription}</p>
                    <a
                      class="btn btn--outline link--extended mt-auto"
                      href={`/aanbod/${card.slug.current}`}
                    >
                      Meer info
                    </a>
                  </div>
                </div>
              </div>
            </>
          );
        })
    }
  </div>
</div>
