---
import { Icon } from "astro-icon/components";
const { nav, companyInfo, socialMedia } = Astro.props;
---

<footer class="text-white section bg-secondary section--half">
  <div class="container">
    <div class="flex flex-col md:items-end justify-between md:flex-row gap-8">
      <div class="spacing-y-lg max-w-[20rem] lg:max-w-[25rem]">
        <div class="">
          <!-- Company -->
          <a href="/">
            <div class="sr-only">Main Navigation</div>
            <Icon
              name="logo"
              class="w-full max-w-[10rem] lg:max-w-[12.5rem] h-auto"
            />
          </a>
          <p class="text-base mt-2 lg:text-lg">{companyInfo.description}</p>
        </div>
        <div class="space-y-1 text-base lg:text-lg">
          <div class="flex items-center gap-2">
            <Icon name="phone" class="size-4" />
            <a
              class="underline hover:no-underline"
              href=`tel:${companyInfo.phone}`>{companyInfo.phone}</a
            >
          </div>
          <div class="flex items-center gap-2">
            <Icon name="envelope" class="size-4" />
            <a
              class="underline hover:no-underline"
              href=`mailto:${companyInfo.email}`>{companyInfo.email}</a
            >
          </div>
        </div>
        <div class="flex flex-wrap items-center gap-3">
          {
            socialMedia.facebook && (
              <a
                href={socialMedia.facebook}
                target="_blank"
                class="text-white hover:opacity-80"
              >
                <Icon name="facebook" class="size-8" />
              </a>
            )
          }
          {
            socialMedia.instagram && (
              <a
                href={socialMedia.instagram}
                target="_blank"
                class="text-white hover:opacity-80"
              >
                <Icon name="instagram" class="size-8" />
              </a>
            )
          }
          {
            socialMedia.youtube && (
              <a
                href={socialMedia.youtube}
                target="_blank"
                class="text-white hover:opacity-80"
              >
                <Icon name="youtube" class="size-8" />
              </a>
            )
          }
          {
            socialMedia.linkedin && (
              <a
                href={socialMedia.linkedin}
                target="_blank"
                class="text-white hover:opacity-80"
              >
                <Icon name="linkedin" class="size-8" />
              </a>
            )
          }
        </div>
      </div>

      <!-- Navigation -->
      <nav>
        <ul class="flex lg:flex-row text-lg gap-x-4 md:gap-x-8 lg:gap-x-12">
          {
            nav.map((item: any) => (
              <>
                <li>
                  <a
                    class="link link--primary text-lg lg:text-xl text-white after:bg-white"
                    href={`/${item.entry.slug.current}`}
                  >
                    {item.title}
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</footer>
