---
import { urlFor } from "../utils/image";
import { Image } from "astro:assets";
import Links from "../components/Links.astro";
import { PortableText } from "astro-portabletext";
import { srcSet } from "../utils/image";
import { halfWidthSizes } from "../utils/image";

const { block } = Astro.props;

const imageUrl = block.image ? urlFor(block.image).url() : (null ?? "");

const alignImage =
  block.image.imagePosition == "left" ? "lg:flex-row" : "lg:flex-row-reverse";
---

<div
  class=`${block.image ? "flex flex-col md:flex-row gap-8 md:gap-10 lg:gap-12 xl:gap-16" : ""} ${alignImage} `
>
  {
    block.image && (
      <div class="w-full lg:w-1/2 xl:w-2/5">
        <Image
          sizes={halfWidthSizes()}
          srcset={srcSet(imageUrl)}
          width={1000}
          height={1000}
          src={imageUrl}
          alt={block.image.alt ?? ""}
          class="aspect-[7/6] img-rounded object-cover "
        />
      </div>
    )
  }
  <div
    class=`flex flex-col gap-4  ${block.image ? "w-full lg:w-1/2 xl:w-3/5" : "lg:flex-row lg:gap-16 xl:gap-24" }`
  >
    <div class=`block-heading w-full  `>
      <span>{block.tagline}</span>
      <h2>{block.title}</h2>
    </div>
    <div class=`w-full ${block.image ? "" : "lg:w-1/2"} spacing-y `>
      <div class="rich-text">
        <PortableText value={block.richText} />
      </div>
      {block.links && <Links data={block.links} />}
    </div>
  </div>
</div>
