---
import { VisualEditing } from "@sanity/astro/visual-editing";

import Footer from "../blocks/Footer.astro";
import Header from "../blocks/Header.astro";
import Flyout from "../components/Flyout.astro";

import {
  getCompanyInfo,
  getNavigationItems,
  getSocialMedia,
} from "../utils/sanity";

interface Props {
  title: string;
  shape?: boolean;
}

const nav = await getNavigationItems();
const companyInfo = await getCompanyInfo();
const socialMedia = await getSocialMedia();

const { items } = nav[0];

const { title, shape } = Astro.props;
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Silsomzorg</title>
  </head>
  <body>
    <Flyout nav={items} companyInfo={companyInfo[0]} />
    <Header nav={items} companyInfo={companyInfo[0]} />
    <main class={`${shape && "bg-shape"}`}>
      <slot />
      <VisualEditing enabled={true} zIndex={1000} />
    </main>"
    <Footer
      nav={items}
      companyInfo={companyInfo[0]}
      socialMedia={socialMedia[0]}
    />
  </body>
</html>
<script src="../scripts/main.ts"></script>
<style is:global>
  @import "../styles/base/fonts.css";
  @import "../styles/base/mixins.css";
  @import "../styles/base/utils.css";
  @import "../styles/base/global.css";
  @import "../styles/base/section.css";
  @import "../styles/components/link.css";
  @import "../styles/components/button.css";
  @import "../styles/components/hamburger.css";
</style>
