---
import Header from "../blocks/Header.astro";
import Footer from "../blocks/Footer.astro";
import { getNavigationItems, getGeneralInformation } from "../utils/sanity";

import { ImageSupportDetection } from "astro-imagetools/components";

interface Props {
  title: string;
}

const generalInfo = await getGeneralInformation();

const nav = await getNavigationItems();
const items = nav.items ?? [];

const { title } = Astro.props;
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ImageSupportDetection />
    <title>{title} | Silsomzorg</title>
  </head>
  <body>
    <Header nav={items} />
    <slot />
    <!-- <Footer nav={items} generalInfo={generalInfo} /> -->
  </body>
</html>
<style is:global>
  @import "../styles/base/fonts.css";
  @import "../styles/base/mixins.css";
  @import "../styles/base/utils.css";
  @import "../styles/base/global.css";
  @import "../styles/base/section.css";
  @import "../styles/components/link.css";
  @import "../styles/components/button.css";
</style>
